<div id="container" class="bg-gray-200 h-full flex justify-center items-center">
    <div class="p-2 w-full sm:w-2/3 md:w-1/2 lg:w-1/3 flex flex-col items-center">
        <h3 class="brookr-font text-6xl my-3">Brookr</h3>
        <div id="login-card" class="rounded-lg w-full shadow bg-white p-4">
            <div class="field-container my-2 flex flex-col">
                <label for="name" class="text-sm">Username</label>
                <input type="text" class="focus:bg-gray-100 py-2 outline-none field border-b border-pink-800">
            </div>
            <div class="field-container my-2 flex flex-col">
                <label for="name" class="text-sm">Password</label>
                <input type="password" class="focus:bg-gray-100 py-2 outline-none field border-b border-pink-800">
            </div>
            <div class="button-container py-3 flex justify-end">
                <button routerLink="/dashboard" class="rounded shadow px-3 py-1 bg-pink-700 text-white">Login</button>
            </div>
            <div class="button-container py-3 flex justify-center">
                <a href="#" class="hover:underline text-blue-600 text-sm">Password Lost ?</a>
            </div>
        </div>
    </div>
</div>